<div class='breadcrumb'>
	<span>Companies</span>
	<span class='company-reg-link'>Register Your Company </span>
</div>
<ul class='thumbnails span9'>
<% @companies.each do |c| %>
<li class="span3 company-list">

	<div class="thumbnail">
		<img alt="" src="/assets/company.jpeg">
		<div class="caption">
			<h5><%#= link_to c.name, root_url(:subdomain => c.domain ) %></h5>
			<h5><%= link_to c.name,products_path(c) %></h5>
			<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
			<p>
			<a class="btn btn-primary" href="#">View Products</a>
			
			</p>
		</div>
	</div>
</li>
<% end %>
</ul>