/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.menu-links{
	float:right;
}
.company-list{
	margin: 0 15px 0 0 !important;
}
.company-reg-link {
	float: right;
}
body .modal{
	bottom: auto;
    display: none;
    left: 50%;
    outline: 0 none;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: auto;
    top: 50%;
    z-index: 1050;
}